.dropzone {
    height: 300px;
    background: #f0f0e0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    outline: 0;
}

.dropzone img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dropzone p {
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    border-radius: 10px;
    border: 1px dashed var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

.dropzone p svg {
    color: var(--primary-color);
    width: 24px;
    height: 24px;
    margin-bottom: 8px;
}